/* ESTILOS PARA ETIQUETAS, DE FORMA GENERAL */

body {
    margin: 0%;  
}
.full-container {
    display: flex;
    height: 100vh;
    margin: 0;   
}

input {
    background-color: #a36ca3;
    border: none;
} 

section {
    background-color: #9d519d;
    color: #234a34;
    width: 18%;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    height: 100vh;
}

section h3 {
    align-self: center;
    margin: 7% 0%;
}
label {
    margin-top: 1%;
    margin-bottom: 2%;
}

/* SECCION IMAGEN */

.container-aside-image, .container-aside-text{
    margin: 5%;
}

form {
    display: flex;
    flex-direction: column;
}
#url-input {
    padding: 3%;
}

.container-image-background{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.background-image-input {
    width: 23px;
    height: 23px;
    background-color: transparent;
    border: none;
}
.background-image-input::-webkit-color-swatch, .background-image-input::-webkit-color-swatch-wrapper{
    border-radius: 100%;
    padding: 0;
}

#button-reset-filter {
    background-color: #a36ca3;
    border: none;
    padding: 3%;
    font-size: 15px;
}

/* SECCION TEXTO */

.icon-x {
    margin-top: 5%;
    margin-right: 5%;
    width: 10%;
    background-color: #9d519d;
    border: none;
}
.container-iconx {
    width: 100%;
    text-align: right;
}

section textarea , input , select {
    background-color: #a36ca3;
    border: none;
}

.container-background-color{
    display: flex;
    width: 100%;   
}
.container-label-color-background {
    width: 50%;
    margin-right: 3%;
}
.container-input-color {
    background-color: #a36ca3;
    width: 90%;
    margin-top: 4%;
}
.container-contorno { 
    display: flex;   
}
.container-contorno button{
    background-color:#a36ca3;
    margin-right: 2%;
    border: none;
    padding: 3%;
}


#font-selector {
    padding: 3%;
}

#font-size {
    width: 45%;
    padding: 4%;
    margin: 1% 0%;
}
.container-font-size button {
    padding: 4%;
    background-color: #a36ca3;
    border: none;
}
.container-font-size {
    margin-bottom: 7%;
}
#input-space, #select-line-height{
    padding: 3%;
}

@media (min-width: 1245px) {
    .icon-x {
        display: none;
    }
}

@media (max-width: 940px) {
    section {
        width: 25%;
    }
}

/* MAIN */

.container-header-main {
    color: #234a34;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    
}
header {
    background-color: #c16ec1;
    width: 100%;
    text-align: center;
    height: 18vh;
}

header nav {
    display: flex;
    justify-content: center;
}
nav span {
    margin: 2%;
}

main {
    background-color: #f174f1;
    width: 100%;
    height: 82vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main button {
    margin: 1%;
    font-size: 14px;
    padding: 1%;
    background-color: #234a34;
    border: none;
    border-radius: 5%;
}

.container-meme {
    position: relative;
    width: 600px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.container-meme p {
    position: static;
    background-color: white;
    width: 80%;
    font-size: 40px;
    margin: 0;
}

.container-image {
    background-color: #1e0418;
    width: 80%;
    flex-grow: 1;
    background-Size : cover;
    background-repeat : 'no-repeat';
    background-position : 'center'; 
}

@media (max-width: 668px) {
    .container-meme {
        width: 90%;
        height: 80%;
        margin: 5% 0%;
    }
    section{
        width: 100%;
    }
    section h3 {
        margin: 0;
    }
}
@media (max-width: 460px) {
    h1 {
        font-size: 28px;
        margin: 5%;
        margin-top: 7%;
    }
    }

.display-none {
    display: none;
}

.modo-oscuro {
    color: #97D8B2;
    background-color:#1e0418 ;
}



